<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.customer.mypage.MyPageMapper">
<select id="info" parameterType="int" resultType="com.tree.gdhealth.vo.CustomerMyPage">
	SELECT
	c.customer_no customerNo,
	c.customer_id customerId,
	c.customer_pw customerPw,
	d.customer_name customerName,
	d.customer_email customerEmail,
	d.customer_birth customerBirth,
	d.customer_address customerAddress,
	d.customer_gender customerGender,
	d.customer_phone customerPhone,
	d.customer_height customerHeight,
	d.customer_weight customerWeight,
	d.updatedate customerUpdatedate
FROM customer c JOIN customer_detail d 
ON c.customer_no = d.customer_no
WHERE d.customer_no = #{customerNo}
	
</select>

<select id="customerImgCk" parameterType="int" resultType="com.tree.gdhealth.vo.CustomerImg">
	SELECT *
	FROM customer_img 
	WHERE customer_no = #{customerNo}
</select>
<select id="attendanceCount" parameterType="int" resultType="int">
	SELECT
		COUNT(*) count
	FROM customer_attendance
	WHERE customer_no = #{customerNo}
</select>
<select id="reviewCount" parameterType="int" resultType="int">
	SELECT
		COUNT(*) count
	FROM review
	WHERE customer_no = #{customerNo}
</select>
<select id="questionCount" parameterType="int" resultType="int">
	SELECT
		COUNT(*) count
	FROM question
	WHERE customer_no = #{customerNo}
</select>
<select id="membership" parameterType="int" resultType="String">
	SELECT
		payment_date
	FROM payment
	WHERE customer_no = #{customerNo} and active = "N"

</select>
<select id="customerDeleteCk" parameterType="com.tree.gdhealth.vo.Customer" resultType="INTEGER">
	SELECT
	customer_no
	FROM customer
	WHERE customer_id = #{customerId} AND customer_active = 'Y' AND customer_pw = PASSWORD(#{customerPw})
</select>

<update id="customerDetailDelete" parameterType="com.tree.gdhealth.vo.Customer">
	UPDATE customer_detail
	SET 
		customer_name = '0',
		customer_gender = '비활성',
		customer_height = 0,
		customer_weight = 0,
		customer_birth = NOW(),
		customer_phone = '0',
		customer_address = '0',
		customer_email = '0',
		updatedate = NOW()
	WHERE customer_no = #{customerNo}
</update>
<update id="customerImgDelete" parameterType="com.tree.gdhealth.vo.Customer">
	UPDATE customer_img
	SET 
		customer_img_origin_name = '0',
		customer_img_file_name = '0',
		customer_img_size = 0,
		customer_img_type = '0'
	WHERE customer_no = #{customerNo}
</update>
<update id="customerDelete" parameterType="com.tree.gdhealth.vo.Customer">
	UPDATE customer
	SET 
		customer_pw = PASSWORD(1234),
		customer_active = 'N'
	WHERE customer_no = #{customerNo}
</update>
<update id="updateMyPage" parameterType="com.tree.gdhealth.vo.CustomerMyPage">
	UPDATE customer_detail
	SET customer_height = #{customerHeight}, 
		customer_weight = #{customerWeight},
		customer_name = #{customerName},
		customer_phone = #{customerPhone},
		customer_email = #{customerEmail},
		customer_address = #{customerAddress},
		updatedate = NOW()
	WHERE customer_no = #{customerNo}
</update>
<update id="updatePw" parameterType="com.tree.gdhealth.vo.Customer">
	UPDATE customer
	SET customer_pw = PASSWORD(#{customerPw})
	WHERE customer_no = #{customerNo}
</update>
<select id="selectPhone" parameterType="com.tree.gdhealth.vo.CustomerDetail">
	SELECT customer_phone AS customerPhone
	FROM customer_detail
	WHERE customer_no = #{customerNo}
</select>
<select id="selectCustomerImg"
		parameterType="int"
		resultType="com.tree.gdhealth.vo.CustomerImg">
		
		SELECT 
		customer_no AS customerNo,
		customer_img_no AS customerImgNo,
		customer_img_file_name AS customerImgFileName
		
		FROM customer_img
		
		WHERE customer_no = #{customerNo}
		
</select>

</mapper>