<?xml version="1.0" encoding="UTF-8"?>
<!-- author 정인호-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.sportsequipment.api.SportsEquipmentApiMapper">

    <!--
    <select id="findSportsEquipmentByNo" parameterType="int" resultType="com.tree.gdhealth.vo.SportsEquipment">
        SELECT sports_equipment_no sportsEquipmentNo,
               item_name itemName,
               item_price itemPrice,
               note,
               createdate,
               updatedate
        FROM sports_equipment
        WHERE sports_equipment_no = #{sportsEquipmentNo}
    </select>
    <select id="findSportsEquipmentOrderByNo" parameterType="int" resultType="com.tree.gdhealth.vo.SportsEquipmentOrder">
        SELECT order_no orderNo,
               employee_orderer employeeOrderer,
               branch_no branchNo,
               sports_equipment_no sportsEquipmentNo,
               quantity,
               total_price totalPrice,
               createdate,
               updatedate,
               employee_approver employeeApprover,
               order_status orderStatus
        FROM sports_equipment_order
        WHERE order_no = #{orderNo}
    </select>
    <select id="findSportsEquipmentImgByNo" parameterType="int"
            resultType="com.tree.gdhealth.vo.SportsEquipmentImg">
        SELECT sports_equipment_img_no sportsEquipmentImgNo,
               sports_equipment_no sportsEquipmentNo,
               sports_equipment_img_origin_name sportsEquipmentImgOriginName,
               sports_equipment_img_file_name sportsEquipmentImgFileName,
               sports_equipment_img_size sportsEquipmentImgSize,
               sports_equipment_img_type sportsEquipmentImgType,
               createdate,
               updatedate
        FROM sports_equipment_img
        WHERE sports_equipment_img_no = #{sportsEquipmentImgNo}
    </select>
    -->
    <select id="getSportsEquipmentList" resultType="com.tree.gdhealth.vo.SportsEquipment">
        SELECT sports_equipment_no sportsEquipmentNo,
               item_name itemName,
               item_price itemPrice,
               note,
               createdate,
               updatedate
        FROM sports_equipment
    </select>
    <select id="getSportsEquipmentOne" resultType="com.tree.gdhealth.vo.SportsEquipment">
        SELECT sports_equipment_no sportsEquipmentNo,
               item_name itemName,
               item_price itemPrice,
               note,
               createdate,
               updatedate
        FROM sports_equipment
        WHERE sports_equipment_no = #{sportsEquipmentNo}
    </select>
</mapper>