<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.answer.AnswerMapper">
	<select id= "answerOne"
			parameterType="int"
			resultType="com.tree.gdhealth.vo.Answer">
	SELECT	
		a.answer_no AS answerNo,
		e.employee_id AS employeeId,
		a.answer_content AS answerContent,
		a.createdate AS createdate,
		a.updatedate AS updatedate
	FROM answer a JOIN employee e
	ON a.employee_no = e.employee_no
	WHERE question_no = #{questionNo};
	
	</select>
	
	<insert id="addAnswer"
			parameterType="com.tree.gdhealth.vo.Answer">
	INSERT INTO answer (
		question_no,
		employee_no,
		answer_content
	) VALUES (
		#{questionNo},
		#{employeeNo},
		#{answerContent}
	)
	</insert>
	
	<update id="updateAnswer"
			parameterType="com.tree.gdhealth.vo.Answer">
	UPDATE answer
	SET answer_content = #{answerContent}, updatedate = NOW()
	WHERE question_no = #{questionNo}
	
	</update>
	
	<delete id="deleteAnswer"
			parameterType="com.tree.gdhealth.vo.Answer">
	DELETE 
	FROM answer
	where question_no = #{questionNo}
	</delete>
	
</mapper>