<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.headoffice.emp.EmpMapper">
	
	<select id="employeeList" resultType="map">
		SELECT
			e.employee_id empId,
			e.employee_active empActive,
			ed.employee_name empName,
			ed.employee_phone empPhone,
			ed.employee_email empEmail,
			ed.employee_gender empGender,
			ed.createdate createdate,
			ed.updatedate updatedate,
			ei.employee_img_file_name
		FROM employee e
		INNER JOIN employee_detail ed
			ON ed.employee_no = e.employee_no
		INNER JOIN employee_img ei
			ON ei.employee_no = e.employee_no	
	</select>
	
</mapper>