<?xml version="1.0" encoding="UTF-8"?>
<!-- author 정인호-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.sportsequipment.SportsEquipmentApiMapper">
    <select id="selectSportsEquipmentAll" resultType="com.tree.gdhealth.vo.SportsEquipment">
        SELECT sports_equipment_no sportsEquipmentNo,
               item_name itemName,
               item_price itemPrice,
               note,
               createdate,
               updatedate
        FROM sports_equipment
    </select>
    <select id="selectSportsEquipmentOne" resultType="com.tree.gdhealth.vo.SportsEquipment">
        SELECT sports_equipment_no sportsEquipmentNo,
               item_name itemName,
               item_price itemPrice,
               note,
               createdate,
               updatedate
        FROM sports_equipment
        WHERE sports_equipment_no = #{sportsEquipmentNo}
    </select>

    <insert id="insertSportsEquipmentOrder" parameterType="com.tree.gdhealth.sportsequipment.dto.SportsEquipmentOrderAddRequestDto">
        INSERT INTO sports_equipment_order
        (employee_orderer, branch_no, sports_equipment_no, quantity, total_price, employee_approver)
        VALUES
            (#{employeeOrderer},#{branchNo},#{sportsEquipmentNo},#{quantity},
             (SELECT item_price * #{quantity} FROM sports_equipment WHERE sports_equipment.sports_equipment_no = #{sportsEquipmentNo}),
             #{employeeApprover})
    </insert>
    <update id="updateSportsEquipmentOrderStatus">
        UPDATE sports_equipment_order
        SET order_status = #{changeSportsEquipmentOrderStatus}
        WHERE order_no = #{orderNo}
    </update>

    <select id="getBranchOne" resultType="com.tree.gdhealth.vo.Branch">
        SELECT
            branch_no branchNo,
            branch_name branchName,
            branch_tel branchTel,
            branch_address branchAddress,
            createdate,
            updatedate,
            branch_level branchLevel,
            branch_active branchActive
        FROM branch
        WHERE branch_no = #{branchNo}
    </select>
    <select id="selectSportsEquipmentOrderListByCriteria" parameterType="com.tree.gdhealth.sportsequipment.dto.SportsEquipmentOrderRetrieveCriteria" resultType="com.tree.gdhealth.sportsequipment.dto.SportsEquipmentOrderInformation">
        SELECT
            seo.order_no orderNo,
            seo.employee_orderer employeeOrderer,
            oed.employee_name employeeOrdererName,
            seo.branch_no branchNo,
            bch.branch_name branchName,
            seo.sports_equipment_no sportsEquipmentNo,
            se.item_name itemName,
            seo.quantity,
            se.item_price itemPrice,
            (seo.quantity * se.item_price) totalPrice,
            seo.employee_approver employeeApprover,
            aed.employee_name employeeApproverName,
            seo.order_status orderStatus,
            seo.createdate
        FROM sports_equipment_order seo
        LEFT JOIN employee_detail oed ON seo.employee_orderer = oed.employee_no
        LEFT JOIN branch bch ON seo.branch_no = bch.branch_no
        LEFT JOIN sports_equipment se ON seo.sports_equipment_no = se.sports_equipment_no
        LEFT JOIN employee_detail aed ON seo.employee_approver = aed.employee_no
        <where>
            <if test="branchNo != null">AND seo.branch_no = #{branchNo}</if>
            <if test="isOnlyWaitingList">AND seo.order_status = '대기'</if>
        </where>
        ORDER BY seo.createdate DESC
        LIMIT #{beginRow}, #{rowPerPage}
    </select>
    <select id="countSportsEquipmentOrderListLastPage" resultType="java.lang.Integer">
        SELECT CEILING(COUNT(seo.order_no)/${rowPerPage}) AS lastPage
        FROM sports_equipment_order seo
        LEFT JOIN employee_detail oed ON seo.employee_orderer = oed.employee_no
        LEFT JOIN branch bch ON seo.branch_no = bch.branch_no
        LEFT JOIN sports_equipment se ON seo.sports_equipment_no = se.sports_equipment_no
        LEFT JOIN employee_detail aed ON seo.employee_approver = aed.employee_no
        <where>
            <if test="branchNo != null">AND seo.branch_no = #{branchNo}</if>
            <if test="isOnlyWaitingList">AND seo.order_status = '대기'</if>
        </where>
        ORDER BY seo.createdate DESC
    </select>
    <select id="selectSportsEquipmentOrderOneByOrderNo" resultType="java.util.Map">
        SELECT seo.order_no orderNo,
               seo.employee_orderer employeeOrderer,
               oed.employee_name employeeOrdererName,
               seo.branch_no branchNo,
               bch.branch_name branchName,
               seo.sports_equipment_no sportsEquipmentNo,
               se.item_name itemName,
               se.note AS note,
               se.item_name itemName,
               seo.quantity AS quantity,
               se.item_price itemPrice,
               (seo.quantity * se.item_price) totalPrice,
               seo.employee_approver employeeApprover,
               aed.employee_name employeeApproverName,
               seo.order_status orderStatus,
               seo.createdate
        FROM sports_equipment_order seo
                 LEFT JOIN employee_detail oed ON seo.employee_orderer = oed.employee_no
                 LEFT JOIN branch bch ON seo.branch_no = bch.branch_no
                 LEFT JOIN sports_equipment se ON seo.sports_equipment_no = se.sports_equipment_no
                 LEFT JOIN employee_detail aed ON seo.employee_approver = aed.employee_no
        where seo.order_no = #{orderNo}
    </select>
</mapper>