<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.customer.programreservation.mapper.ProgramReservationMapper">
	<select id="selectProgramByMonth" resultType="java.util.Map">
		SELECT
			COUNT(*) cnt,
			DAY(pd.program_date) day,
			p.program_max_customer programMaxCustomer,
			p.program_name programName
		FROM program_reservation pr INNER JOIN program_date pd
		  on pr.program_date_no = pd.program_date_no INNER JOIN program p
		  on p.program_no = pd.program_no
		WHERE YEAR(pd.program_date) = #{year}
		AND MONTH(pd.program_date) = #{month}
		GROUP BY pd.program_date
		ORDER BY pd.program_date ASC;
	</select>
</mapper>