@charset "UTF-8";
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;
}

.btn-success {
    background-color: #045FB4;
    border-color: #045FB4;
}

.btn-success:hover {
    background-color: #01A9DB;
    border-color: #01A9DB;
}