<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.customer.payment.PaymentMapper">
	<insert id="addPayment" parameterType="java.util.Map">
		INSERT INTO payment(membership_no, customer_no, payment_date, createdate, updatedate) VALUES(#{membershipNo}, #{customerNo}, CONCAT(#{year}, '-', #{resultMonth}, '-', #{day}),NOW(),NOW());
	</insert>
	<select id="selectPayment">
		SELECT count(*) from payment where customer_no = #{customerNo};
	</select>
<update id="updatePayment" parameterType="java.util.Map">
	    UPDATE payment 
	    SET payment_date = STR_TO_DATE(CONCAT(#{year}, '-', #{month}, '-', #{day}), '%Y-%m-%d') 
	    WHERE customer_no = #{customerNo};  
</update>

	<select id="selectPaymentMonth" resultType="java.util.Map">
		SELECT MONTH(payment_date) month, YEAR(payment_date) year, DAY(payment_date) day from payment where customer_no = #{customerNo};
	</select>
	
	<select id="membershipMonth">
		SELECT membership_month FROM membership WHERE membership_no = #{membershipNo};
	</select>
</mapper>