<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.gdhealth.chat.ChatMapper">

	<select id="roomList" resultType="map">
		SELECT
			cr.chat_room_no roomNo,
			c.customer_id customerId
		FROM chat_room cr
		INNER JOIN customer c
			ON cr.customer_no = c.customer_no
	</select>
	
	<select id="isRoomExists" resultType="boolean">
		SELECT
			CASE
		        WHEN COUNT(*) > 0 THEN true
		        ELSE false
     		 END AS result
		FROM chat_room
		WHERE customer_no = #{customerNo} 
	</select>

	<insert id="insertRoom" parameterType="com.tree.gdhealth.vo.ChatRoom">
		INSERT INTO chat_room(
			customer_no
		) VALUES(
			#{customerNo}
		)
	</insert>

</mapper>